@page
@model AspnetCoreFull.Pages.LayoutExamples.HorizontalMenuModel
@{
  ViewData["Title"] = "Horizontal layout - Layouts";
  Layout = "Layouts/_HorizontalLayout";
}
@* ************** Content ************** *@

<h4 class="p-6">Horizontal Layout</h4>
